<% @polls.each do |p| %>
  <%= link_to p.title, poll_path(p) %>
  <br />
<% end %>
<ul class="pagination">
  <li class=<%= @page.to_i == 1 ? "disabled" : "waves-effect" %>>
    <% if @page.to_i != 1 %>
      <%= link_to poll_search_path(query: @query, page: @page.to_i - 1) do %>
        <i class="material-icons">chevron_left</i>
      <% end %>
    <% else %>
      <a><i class="material-icons">chevron_left</i></a>
    <% end %>
  </li>
  <% for i in (1..@num_of_pages) %>
    <li class=<%= @page.to_i == i ? "active" : "waves-effect" %>>
      <%= link_to i, poll_search_path(query: @query, page: i) %>
    </li>
  <% end %>
  <li class=<%= @page.to_i == @num_of_pages ? "disabled" : "waves-effect" %>>
    <% if @page.to_i != @num_of_pages %>
      <%= link_to poll_search_path(query: @query, page: @page.to_i + 1) do %>
        <i class="material-icons">chevron_right</i>
      <% end %>
    <% else %>
      <a><i class="material-icons">chevron_right</i></a>
    <% end %>
  </li>
</ul>