<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="nav-color-white">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" data-turbolinks="false">Some Polling Website</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <form action="/search" method="get">
              <input name="page" type="hidden" value=1 />
              <div class="input-field">
                <input id="search" type="search" name="query" placeholder="search" required>
                <label for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
          </li>
          <li class=<%= "active" if request.fullpath =~ /\/trending/ %>><%= link_to "Trending", poll_trending_path, "data-turbolinks": false %></li>
          <li class=<%= "active" if request.fullpath =~ /\/polls\/new/ %>><%= link_to "New Poll", new_poll_path %></li>
        </ul>
        <ul class="side-nav" id="mobile">
          <li><%= link_to "Search", poll_search_path %></li>
          <li><%= link_to "Trending", poll_trending_path, "data-turbolinks": false %></li>
          <li><%= link_to "New Poll", new_poll_path %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <%= render "flash" if !flash.empty? %>
      <%= yield %>
    </div>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Some Polling Website</h5>
            <p class="grey-text text-lighten-4">Some Polling Website inc.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">About</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © <%= Date.today.year %> Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>
